<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if session['logged_in'] == True %}
            {% if  session['admin'] == False %}
                <li class="nav-item">
                    <a class="nav-link" href="/films">Comprar Ingressos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alterarcadastro">Alterar Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compras">Compras</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/gerenciar?option=cinemas">Cinemas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/gerenciar?option=filmes">Filmes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/gerenciar?option=sessoes">Sessões</a>
                </li>
            {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">REGISTRAR <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="/about">About</a>#}
{#        </li>#}
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>#}
{#          </form>#}
    </div>
</nav>