{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-3">Bem-vindo, Admin!</h1>
    <p class="lead">Selecione uma opção</p>
    <div class="btn-group-vertical">
      <a href="/admin/gerenciar?option=filmes" class="btn btn-primary btn-lg">Gerênciar Filmes</a>
      <a href="/admin/gerenciar?option=cinemas" class="btn btn-primary btn-lg">Gerênciar Cinemas</a>
      <a href="/admin/gerenciar?option=sessoes" class="btn btn-primary btn-lg">Gerênciar Sessões</a>
      <a href="/admin/ranking" class="btn btn-primary btn-lg">Ranking dos mais assistidos</a>

    </div>
  </div>
{% endblock %}