{% extends "layout.html" %}

{% block body %}
<style>
    .container {
        width: 60%;
    }

    .center {
        text-align: center;
    }
</style>

<div class="container">
    {% from "includes/_formhelpers.html" import render_field %}
    {{ form.csrf_token }}
    <h1 class="center">Cadastrar Cinema</h1>
    <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
        <div class="form-group">
            <label for="FullName">Nome</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                {{ render_field(form.name, class_ = "form-control", value = cinema.nome) }}
                {% else %}
                {{ render_field(form.name, class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="sel1">Estado:</label>
            <select class="form-control" id="states", name="states">
                <option>-</option>
                {% for estado in estados %}
                    {% if funcao == "editar" %}
                        {% if cinema.estado == estado %}
                            <option selected value="{{ estado }}">{{ estado }}</option>
                        {% else %}
                            <option value="{{ estado }}">{{ estado }}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{ estado }}">{{ estado }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="City">Cidade</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.city, class_ = "form-control", value = cinema.cidade) }}
                {% else %}
                    {{ render_field(form.city, class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="Localization">Localização</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.localization, class_ = "form-control", value = cinema.localizacao) }}
                {% else %}
                    {{ render_field(form.localization, class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {% if funcao == "editar" %}
                <input type="submit" class="form-control btn btn-primary" value="Alterar">
            {% else %}
                <input type="submit" class="form-control btn btn-primary" value="Cadastrar">
            {% endif %}
        </div>
        </form>
    </div>
{% endblock %}