{% extends 'layout.html' %}

{% block body %}

    <style>
    .film-container {
        margin: 20px 20px 0 0;
        border: 5px solid #333;
        width: 100%;
        overflow: auto;
    }
    .film-thumb {
        float: left;
    }
    .film-thumb img {
        display: block;
        width: 260px;
        height: 370px;
    }
    .post-content {
        margin-left: 260px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .film-title {
        font-weight: bold;
        font-size: 200%
    }
    .session-content{
        position: relative;
        display: block;
        border: black;
        border-width: 0.5px;
        border-style: solid;
        width: 20%;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 10px;
        float: left;
    }
</style>

<div class = "container">
    <div class="film-container">
        <div class="film-thumb"><img src="{{film.imagem}}" alt="{{film.titulo}}"></div>
        <div class="post-content">
            <h3 class="film-title">{{film.titulo}}</h3>
            <p>Sinopse: {{ film.sinopse }}</p>
            <p>Classificação: {{ film.classificacao }}</p>
        </div>
    </div>
    <div>
        </br>
        <h4>Programação:</h4>
        <div class="sessions">
            {% for sessao in sessoes %}
            <div class="session-content">
                <p>{{ sessao.data }}</p>
                <p>{{ sessao.nome }}</p>
                <p>{{ sessao.localizacao }}</p>
                <p>{{ sessao.horario }}</p>
                <a href="/compradeingresso/{{ sessao.id }}" class="btn btn-primary btn">Comprar Ingressos</a>
            </div>
            {% endfor %}
        </div>
{#        <table class="table table-hover">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th scope="col">Localidade</th>#}
{#                    <th scope="col">Cidade</th>#}
{#                    <th scope="col">Horário</th>#}
{#                </tr>#}
{#            </thead>#}
{#                <tbody>#}
{#                    <tr class="table-active">#}
{#                        <th scope="row">Active</th>#}
{#                        <td>Column content</td>#}
{#                        <td>Column content</td>#}
{#                    </tr>#}
{#                </tbody>#}
{#            </table>#}
    </div> 
</div>
{% endblock %}
