{% extends "layout.html" %}

{% block body %}
<style>
    .container {
        width: 60%;
    }

    .center {
        text-align: center;
    }
    #cover-image{
        padding-top: 5%;
        padding-bottom: 2%;
    }
</style>

<div class="container">
    {% from "includes/_formhelpers.html" import render_field %}
    {{ form.csrf_token }}
    <h1 class="center">Cadastrar Filme</h1>
    <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
        <div class="form-group">
            <label>Titulo:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.titulo, class_ = "form-control", value=filme.titulo) }}
                {% else %}
                    {{ render_field(form.titulo, class_ = "form-control")}}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label>Sinopse:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    <textarea class="form-control" name="sinopse" placeholder="Sinopse">{{ filme.sinopse }}</textarea>
                {% else %}
                    <textarea class="form-control" name="sinopse" placeholder="Sinopse"></textarea>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label>Genero:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.genero, class_ = "form-control", value=filme.genero) }}
                {% else %}
                    {{ render_field(form.genero, class_ = "form-control")}}
                {% endif %}
            </div>
        </div>
        <div class = "form-group" id="cover-form">
            <label>Imagem</label>
        <script>
                function check() {
                    if(document.getElementById("cover").value != ""){
                        var img = document.createElement("img"); //criar elemento img
                        img.src = document.getElementById("cover").value; //atribuindo a propriedade source da imagem
                        img.id = "cover-image"
                        if(document.getElementById("cover-form").childElementCount == 3){
                            document.getElementById("cover-form").appendChild(img); //adicionando imagem como filha de capa
                        } else{
                            document.getElementById("cover-form").removeChild(document.getElementById("cover-form").lastChild);
                            document.getElementById("cover-form").appendChild(img);
                        }
                    } else{
                        document.getElementById("cover-form").removeChild(document.getElementById("cover-form").lastChild);
                    }
                }
            </script>
            {% if funcao == "editar" %}
                {{ render_field(form.imagem, id="cover", class_ = "form-control", value=filme.imagem, onblur="check()") }}
                <script>check()</script>
            {% else %}
                {{ render_field(form.imagem, id="cover", class_ = "form-control", onblur="check()") }}
            {% endif %}
        </div>
        <div class="form-group">
            <label>Classificacao:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.classificacao, class_ = "form-control", value=filme.classificacao) }}
                {% else %}
                    {{ render_field(form.classificacao, class_ = "form-control")}}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Cadastrar">
        </div>
        </form>
    </div>
{% endblock %}