{% extends "layout.html" %}

{% block body %}

<style>
    .movie-list {
        margin: 0 -15px;
    }
    .movie-list .movie {
        width: 25%;
        padding: 0 15px;
        float: left;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 991px) {
        .movie-list .movie:nth-child(4n+1) {
            clear: both;
        }
    }
    @media screen and (max-width: 990px) {
        .movie-list .movie {
            width: 100%;
        }
        .movie-list .movie:nth-child(4n+1) {
            clear: none;
        }
        .movie-list .movie:nth-child(2n+1) {
            clear: both;
        }
    }
    @media screen and (max-width: 480px) {
        .movie-list .movie {
            width: 100%;
            clear: both;
        }
    }
    .movie-list .movie .movie-poster {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
        border: 1px solid transparent;
        height: 350px;
    }
    .movie-list .movie .movie-poster img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }
    .movie-list .movie:hover img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .movie-list .movie .movie-title {
        display: block;
        position:relative;
        top:-50px;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.85) 100%);
        padding: 10px 10px 10px 10px;
    }
    .movie-list .movie .movie-title h2 {
        font-size: 18px;
        color: #f9fffd;
        text-align: center;
    }
    a:link{
        text-decoration: none;
    }
    .container #form-selection{
        width: 50%;
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
    }
    .container h1{
        width: 100%;
        text-align: center;
    }
    </style>

<div class="container">
    {% from "includes/_formhelpers.html" import render_field %}
    {{ form.csrf_token }}
    <h1>Filmes em Cartaz</h1>
    <form action="{{url_for('films')}}" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form" id="form-selection">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control" name="estado-select" id="sel1" onchange="this.form.submit()">
                    <option selected value=None>--</option>
                    {% for estado in estados %}
                        {% if sestado == estado %}
                            <option selected value="{{ estado }}">{{ estado }}</option>
                        {% else %}
                            <option value="{{ estado }}">{{ estado }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <br>
</div>

<div class="movie-list">
    {% for filme in filmes %}
    <div class="movie">
            <figure class="movie-poster">
                <a href=/films/{{ filme.id }}>
                    <img src={{ filme.imagem }} alt="#"/>
                    <div class="movie-title">
                        <h2>{{ filme.titulo }} &nbsp; {{ filme.classificacao }}</h2>
                    </div>
                </a>
            </figure>
{#            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>#}
    </div>
    {% endfor %}
</div>

{% endblock %}