{% extends 'layout.html' %}

{% block body %}

<style>
    .container{
        width: 50%;
        text-align: center;
    }
</style>

<div class="container">
    {% from "includes/_formhelpers.html" import render_field %}
    {{ form.csrf_token }}
    <h1>Login</h1>
    <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
        <div class = "form-group">
            <div class="input-group">
                {{ render_field(form.email, class_ = "form-control") }}
            </div>
        </div>
        <div class = "form-group">
            <div class="input-group">
                {{ render_field(form.password, class_ = "form-control") }}
            </div>
        </div>
        <a href="{{url_for('recuperar_senha')}}">Esqueceu a senha?</a>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Login">
        </div>
    </form>
</div>

{% endblock %}