{% extends 'layout.html' %}

{% block body %}

    <style>
    #add-button{
        height: 82%;
        margin-left: 40%;
        padding-bottom: 18%;
    }
    a:hover{
        color: #325D88;
    }
    .action{
        color: #325D88;
    }
    </style>

<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    {% if classe == "Sessao" %}
                        <div class="col-sm-7"><h2>{{ "Sessões" }}</h2></div>
                    {% else %}
                        <div class="col-sm-7"><h2>{{ classe+"s" }}</h2></div>
                    {% endif %}
                    <div class="col-sm-1">
                        <a href="{{ url }}" class="btn btn-primary btn-lg" id="add-button">Add</a>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <input type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% if classe == "Filme" %}
                        <th>Titulo</th>
                        <th>Genero</th>
                        <th>Classificacao</th>
                        {% elif classe == "Cinema" %}
                        <th>Nome</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Localizacao</th>
                        {% elif classe == "Sessao" %}
                        <th>Cinema</th>
                        <th>Filme</th>
                        <th>Horario</th>
{#                        <th>Cheio</th>#}
                        {% endif %}
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in valores %}
                    <tr>
                        <td id="id-td">{{ valor.id }}</td>
                        {% if classe == "Filme" %}
                        <td>{{ valor.titulo }}</td>
                        <td>{{ valor.genero }}</td>
                        <td>{{ valor.classificacao }}</td>
                        {% elif classe == "Cinema" %}
                        <td>{{ valor.nome }}</td>
                        <td>{{ valor.estado }}</td>
                        <td>{{ valor.cidade }}</td>
                        <td>{{ valor.localizacao }}</td>
                        {% else %}
                        <td>{{ valor.nome }}</td>
                        <td>{{ valor.titulo }}</td>
                        <td>{{ valor.horario }}</td>
{#                        <td>{{ valor.localizacao }}</td>  cheio? #}
                        {% endif %}
                        <td>
                            {% if classe == "Sessao" %}
                                <a href="/admin/gerenciarsessoes/editar{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="tooltip">Editar</a>
                                <a href="/admin/gerenciarsessoes/remove{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="tooltip">Excluir</a>
{#                            <a href="/admin/gerenciar{{ classe.lower()+'s' }}/remove{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="modal" data-target="#delete-modal">Excluir</a>#}
                            {% else %}
                                <a href="/admin/gerenciar{{ classe.lower()+'s' }}/editar{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="tooltip">Editar</a>
                                <a href="/admin/gerenciar{{ classe.lower()+'s' }}/remove{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="tooltip">Excluir</a>
{#                            <a href="/admin/gerenciar{{ classe.lower()+'s' }}/remove{{ classe.lower() }}/{{ valor.id }}" class="action" data-toggle="modal" data-target="#delete-modal">Excluir</a>#}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{#            <div class="clearfix">#}
{#                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>#}
{#                <ul class="pagination">#}
{#                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>#}
{#                    <li class="page-item"><a href="#" class="page-link">1</a></li>#}
{#                    <li class="page-item"><a href="#" class="page-link">2</a></li>#}
{#                    <li class="page-item active"><a href="#" class="page-link">3</a></li>#}
{#                    <li class="page-item"><a href="#" class="page-link">4</a></li>#}
{#                    <li class="page-item"><a href="#" class="page-link">5</a></li>#}
{#                    <li class="page-item"><a href="#" class="page-link"> > </a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sim</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}