{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-7"><h2>Ranking</h2></div>
                </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Cinema</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in valores %}
                    <tr>
                        <td id="id-td">{{ valor[2] }}</td>
                        <td id="id-td">{{ valor[0] }}</td>
                        <td id="id-td">{{ valor[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{#    {% if session.logged_in == True %}#}
{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">Cinema</th>#}
{#            <th scope="col">Estado</th>#}
{#            <th scope="col">Filme</th>#}
{#            <th scope="col">Quantidade</th>#}
{#            <th scope="col">Valor</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{#    {% endif %}#}

{% endblock %}