{% extends 'layout.html' %}

{% block body %}
<style>
    .container {
        width: 50%;
    }
</style>

<div class="container">
        <div class="page-header">
            <p class="lead text-center">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {{ title }}</p>
        </div>
        {% from "includes/_formhelpers.html" import render_field %}
        {{ form.csrf_token }}
        <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
            <div class="form-group">
                <label for="FullName">Full Name</label>
                <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.name, class_ = "form-control", value=cliente.nome) }}
                {% else %}
                    {{ render_field(form.name, class_ = "form-control")}}
                {% endif %}                </div>
                <span id="ErrorName"></span>
            </div>
            <div class="form-group">
                <label for="Email">Email Address</label>
                <div class="input-group">
                    {% if funcao == "editar" %}
                        {{ render_field(form.email, class_ = "form-control", value=cliente.email) }}
                    {% else %}
                        {{ render_field(form.email, class_ = "form-control")}}
                    {% endif %}
                </div>
                <span id="ErrorEmail"></span>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <div class="input-group">
                    {% if funcao == "editar" %}
                        {{ render_field(form.password, class_ = "form-control", value=cliente.senha) }}
                    {% else %}
                        {{ render_field(form.password, class_ = "form-control")}}
                    {% endif %}
                </div>
                <span id="ErrorPassword"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password:</label>
                <div class="input-group">
                    {{ render_field(form.confirm, class_ = "form-control")}}
                </div>
                <span id="ErrorConfirmPassword"></span>
            </div>
            <div class="form-group">
                    <label for="CPF">CPF</label>
                    <div class="input-group">
                        {% if funcao == "editar" %}
                            {{ render_field(form.cpf, class_ = "form-control", value=cliente.cpf) }}
                        {% else %}
                            {{ render_field(form.cpf, class_ = "form-control")}}
                        {% endif %}
                    </div>
                </div>
            <div class="form-group">
                <label for="DOB">Date of Birth</label>
                <div class="input-group">
                    {% if funcao == "editar" %}
                        {{ render_field(form.birthday, id_ = "DOB" ,class_ = "form-control", value=cliente.dtNasc) }}
                    {% else %}
                        {{ render_field(form.birthday, id_ = "DOB" ,class_ = "form-control")}}
                    {% endif %}
                </div>
                <span id="ErrorDOB"></span>
            </div>
            <div class="checkbox form-group">
                <label>
                    {% if funcao == "editar" %}
                        {% if cliente.isEstudante == 1 %}
                            {{ render_field(form.isStudent, checked=True) }} Declaro que sou estudante
                        {% else %}
                            {{ render_field(form.isStudent, checked=False) }} Declaro que sou estudante
                        {% endif %}
                    {% else %}
                        {{ render_field(form.isStudent) }} Declaro que sou estudante
                    {% endif %}
                </label>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Cadastrar">
            </div>
        </form>
    </div>
{% endblock %}