{% extends 'layout.html' %}

{% block body %}
<div class="container">
    {% from "includes/_formhelpers.html" import render_field %}
    {{ form.csrf_token }}
    <h1 class="center">Cadastrar Sessão</h1>
    <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
        <div class="form-group">
            <label for="sel1">Cinema:</label>
            <select class="form-control" id="cines" name="cines">
                <option>-</option>
                {% for cine in cines %}
                    {% if funcao == "editar" %}
                        {% if cine.id == cinema.id %}
                            <option selected value="{{ cine.nome }}">{{ cine.nome }}</option>
                        {% else %}
                            <option value="{{ cine.nome }}">{{ cine.nome }}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{ cine.nome }}">{{ cine.nome }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Filme:</label>
            <select class="form-control" id="films" name="films">
                <option>-</option>
                {% for film in films %}
                    {% if funcao == "editar" %}
                        {% if film.id == filme.id %}
                            <option selected value="{{ film.titulo }}">{{ film.titulo }}</option>
                        {% else %}
                            <option value="{{ film.titulo }}">{{ film.titulo }}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{ film.titulo }}">{{ film.titulo }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    <div class="form-group">
            <label>Data:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.data, class_ = "form-control", value=sessao.data) }}
                {% else %}
                    {{ render_field(form.data, id_ = "data", class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label>Horario:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.horario, class_ = "form-control", value=sessao.horario) }}
                {% else %}
                    {{ render_field(form.horario, class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label>Lotação:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    <input type="number" class="form-control" placeholder="Lotação" min="1" max="50" id="lotacao"
                        name="lotacao" value={{ sessao.lotacao }}>
                {% else %}
                    <input type="number" class="form-control" placeholder="Lotação" min="1" max="50" id="lotacao"
                        name="lotacao" value=1>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label>Preço:</label>
            <div class="input-group">
                {% if funcao == "editar" %}
                    {{ render_field(form.preco, class_ = "form-control", value=sessao.preco) }}
                {% else %}
                    {{ render_field(form.preco, class_ = "form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Cadastrar">
        </div>
        </form>
    </div>
{% endblock %}