{% extends 'layout.html' %}

{% block body %}
<style>
    .container{
        width: 50%;
        text-align: center;
    }
</style>
    {% if session.logged_in == True %}
    <div class="container">
        <h1>Ingresso</h1>
        <p>Título: {{ compra.titulo }}</p>
        <p>Cinema: {{ compra.nome }}</p>
        <p>Data de Exibição: {{ compra.data }}</p>
        <p>Horário: {{ compra.horario }}</p>
        <p>Quantidade: {{ compra.quantidade }}</p>
        <p>Preço Total(R$): {{ compra.precoTotal }}</p>
    </div>
    {% endif %}

{% endblock %}