{% extends 'layout.html' %}

<style>
    a:hover{
        color: #325D88;
    }
    .action{
        color: #325D88;
    }
</style>

{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-7"><h2>Ingressos</h2></div>
                </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Filme</th>
                        <th scope="col">Cinema</th>
                        <th scope="col">Data</th>
                        <th scope="col">Horario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for filme in filmes %}
                    <tr>
                        <td id="id-td">{{ filme.id }}</td>
                        <td id="id-td">{{ filme.titulo }}</td>
                        <td><a href="/ingressos/{{ filme[5] }}" class="action" data-toggle="tooltip">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{#    {% if session.logged_in == True %}#}
{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">Cinema</th>#}
{#            <th scope="col">Estado</th>#}
{#            <th scope="col">Filme</th>#}
{#            <th scope="col">Quantidade</th>#}
{#            <th scope="col">Valor</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#            <td>Column content</td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{#    {% endif %}#}

{% endblock %}