<title>Ingressos - Compra de Ingressos</title>
{% extends 'layout.html' %}

{% block body %}

<style>
    .dot {
        height: 40px;
        width: 40px;
        background-color: gainsboro;
        border-radius: 50%;
        display: inline-block;
        margin-left: 5%;
        margin-top: 5%;
        text-align: center;
        float: left;
    }

    #rectangle{
        width:300px;
        height:300px;
        background: white;
    }

    .space {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: left;
        margin-left: 5%;
        background-color: gainsboro;
        display: inline-block;
        margin-top: 5%;
        text-align: center;
        border: 1px solid #000;
    }

    .nocenter{
        text-align: left;
    }

    .container{
        width: 50%;
        text-align: center;
    }
</style>

<div class = "container">
        {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="POST" class="form-horizontal col-xs-4 col-xs-offset-4" role="form">
        <div class="space nocenter">
            <p>Titulo: {{ sessao.titulo }}</p>
            <p>Classificacao: {{ sessao.classificacao }}</p>
            <p>Localizacao: {{ sessao.localizacao }}</p>
            <p>Data: {{ sessao.data }}</p>
            <p>Horario: {{ sessao.horario }}</p>
            {% if cliente.isEstudante == True %}
                <p>Preco Unitário(Meia): {{ sessao.preco/2 }}</p>
            {% else %}
                <p>Preco Unitário: {{ sessao.preco }}</p>
            {% endif %}
        </div>
        <div class="space">
            <p class="nocenter">Quantidade de Ingressos:</p>
            {% if cliente.isEstudante == True %}
            <input type="number" class="form-control" placeholder="Quantidade de Ingressos" min="0" max="4" id="ticketqnt"
                   name="ticketqnt" value="0" onclick="calculaPreco({{ sessao.preco/2 }})">
            {% else %}
            <input type="number" class="form-control" placeholder="Quantidade de Ingressos" min="0" max="4" id="ticketqnt"
                   name="ticketqnt" value="0" onclick="calculaPreco({{ sessao.preco }})">
            {% endif %}
        </div>
        <div class="space">
            <p class="nocenter" id="preco-total">Preço Total: </p>
        </div>
{#    <div id="rectangle">#}
{#        <button class="circle" onclick="changeColor(20)" id = "20">20</button>#}
{#        <button class="circle" onclick="changeColor(21)" id = "21">21</button>#}
{#        <button class="circle" onclick="changeColor(22)" id = "22">22</button>#}
{#        <button class="circle" onclick="changeColor(23)" id = "23">23</button>#}
{#        <button class="circle" onclick="changeColor(24)" id = "24">24</button>#}
{#        <button class="circle" onclick="changeColor(25)" id = "25">25</button>#}
{#        <button class="circle" onclick="changeColor(26)" id = "26">26</button>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <input type="submit" class="form-control btn btn-primary" value="Finalizar Compra">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <input type="submit" class="form-control btn btn-primary" value="Cancelar Compra">#}
{#    </div>#}
    <form name="myForm" action="" method="post" onsubmit="">
        <p>
        <input type="radio" name="options" value="boleto" checked> Boleto <br>
        <input type="radio" name="options" value="credito"> Crédito <br>
        <input type="radio" name="options" value="debito"> Débito <br>
        <input type="number" min="1" max="2" value="1" name="parcelas" step="1" required>
        <input type= "text" name= "numero" placeholder="Digite o número do cartão"/>
        </p>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Finalizar Compra">
        </div>
    </form>
    </form>
</div>


<script>
    //irei verificar a mudanca de cor dos botoes
    function changeColor(id) {
        //btn.style.backgroundColor = "firebrick";
        if(document.getElementById(id).style.backgroundColor === "" || document.getElementById(id).style.backgroundColor === "gainsboro")
            document.getElementById(id).style.backgroundColor = "firebrick";
        else
            document.getElementById(id).style.backgroundColor = "gainsboro"
    }

    function calculaPreco(preco) {
        var x = document.getElementById("ticketqnt");
        var y = document.getElementById("preco-total");
        y.innerHTML = "Preço Total(R$): "+(x.value*preco);
    }

</script>

{% endblock %}
